name: Lint, Tests e Coverage

on:
  push:

jobs:
  tests-frontend:
    runs-on: ubuntu-18.04
    steps:
      - uses: szenius/set-timezone@v1.0
        with:
          timezoneLinux: 'America/Sao_Paulo'

      - uses: actions/setup-node@v2
        with:
          node-version: 14.x
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - run: yarn install --no-progress --non-interactive --frozen-lockfile

      - run: npx playwright install --with-deps
      - run: yarn workspace frontend e2e

      - uses: actions/upload-artifact@v2
        if: ${{ failure() }}
        with:
          name: frontend-registro-test-results
          path: ./frontend/registro/test-results

      - uses: actions/upload-artifact@v2
        if: ${{ failure() }}
        with:
          name: frontend-painel-test-results
          path: ./frontend/painel/test-results

      - run: yarn stop:pm2
        if: always()
        env:
          NODE_ENV: production
